{% extends "templates/base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<h1>Admin</h1>
<h2>Apps</h2>
<a class="fakebutton" href="/admin/users/create" style="margin: 10px 0;">Create user</a>
<div id="apps">
    {% for app in apps %}
        <div class="app">
            <span class="main">{{app.name}}</span><br>
            <span class="secondary">Owned by {{app.owner.username}} ({{app.owner.name}})</span><br>
            <span class="secondary">{{app.user_links | length}} authed users</span><br>
            <a class="fakebutton main" href="/app/{{app.client_id}}">Modify</a>
            <a class="fakebutton" href="{{app.launch_url}}">Open</a>
            <a class="fakebutton danger" href="/app/{{app.client_id}}/delete">Delete</a>
        </div>
    {% endfor %}
</div>
<h2>Users</h2>
<div id="users">
    {% for user in users %}
        <div class="user">
            <span class="main">{{user.name}}</span><br>
            <span class="secondary">{{user.username}}</span><br>
            <a class="fakebutton" href="/admin/user/{{user.id}}">Modify</a>
            <a class="fakebutton danger" href="/admin/user/{{user.id}}/delete">Delete</a>
        </div>
    {% endfor %}
</div>
{% endblock %}