{% extends "templates/base.html" %}
{% block title %}Create user{% endblock %}
{% block mainclasses %}form{% endblock %}
{% block content %}
<h1>Create user</h1>
<p style="font-size: 0.8em;">More settings are available after you create the user</p>
<form method="post">
    <label for="uname">Username</label>
    <p style="font-size: 0.8em;">You cannot change this later</p>
    <input type="text" pattern="[a-z0-9\-]*" maxlength="20" minlength="3" placeholder="aperson" name="uname" required>
    <label for="name">Display name</label>
    <input type="text" pattern="[A-Za-z ]*" maxlength="40" minlength="3" placeholder="A Person" name="name" required>
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="person@example.com" maxlength="100" name="email" style="width: 300px;" required>
    <label for="disable"><b>Disable account</b></label>
    <input type="checkbox" name="disable">
    <input type="submit" id="submit" value="Save" class="main">
</form>
{% endblock %}