{% extends "templates/base.html" %}
{% block title %}User{% endblock %}
{% block mainclasses %}form{% endblock %}
{% block content %}
<h1>Modify {{auser.name}} ({{auser.username}})</h1>
<details>
  <summary>Auths</summary>
  <p>This user has authenticated with {{auser.app_links | length}} apps.</p>
  <div id="apps">
        {% for appl in auser.app_links %}
            <div class="app">
                <span class="main">{{appl.app.name}}</span><br>
                <span class="secondary">Owned by {{appl.app.owner.name}} ({{appl.app.owner.username}})</span><br>
                <span class="secondary">{{(appl.app.user_links | length) - 1}} other users</span><br>
                <span class="secondary">Authed on {{appl.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</span>
            </div>
        {% endfor %}
    </div>
</details>
<form method="post">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Person" value="{{auser.name}}" maxlength="40" name="name" required>
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="person@example.com" maxlength="100" value="{{auser.email}}" name="email" style="width: 300px;" required>
    <label for="disable"><b>Disable account</b></label>
    <input type="checkbox" name="disable" {% if auser.disabled %}checked{%endif%}>
    <label for="disableapp"><b>Prevent app creation</b></label>
    <input type="checkbox" name="disableapp" {% if auser.disable_app_create %}checked{%endif%}>
    <label for="allowed_apps"><b>Allowed apps</b></label>
    <p style="font-size: 0.8em;">A list of app client ids the user can authenticate with, seperated by commas, or "all" to allow all</p>
    <!-- If someone has a better way I can implement this list input, please make an issue! -->
    <input type="text" placeholder="id1,id2,id3" value="{% if auser.allowed_apps is not none %}{{auser.allowed_apps}}{% else %}all{% endif %}" name="allowed_apps" required>
    <input type="submit" id="submit" value="Save" class="main">
</form>
{% endblock %}