{% extends "templates/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Hello, {{user.name}}!</h1>
<div style="display: flex; gap: 10px;">
    <a class="fakebutton" href="/account/namechange" style="margin: 0;">Change name</a>
    <form action="/account/getlogincode" method="post" style="width: fit-content; margin: 0;"><input type="submit" id="submit" value="Add a new device" style="margin: 0;"></form>
    {% if (not user.disable_app_create) or (user.apps | length > 0) %}
        <a class="fakebutton" href="/apps" style="margin: 0;">My apps</a>
    {% endif %}
</div>
{% if user.app_links | length > 0 %}
<h2>Authorized apps</h2>
<div id="apps">
    {% for appl in user.app_links %}
        <a class="app" href="{{appl.app.launch_url}}">
            <span class="main">{{appl.app.name}}</span><br>
            <span class="secondary">Owned by {{appl.app.owner.username}}</span><br>
            <span class="secondary">Allowed on {{appl.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</span><br>
            {% if appl.scopes | length > 0 %}
                <span class="secondary">Permissions:</span><br>
                {% for scope in appl.scopes.split() %}
                {% if rscopes[scope] %}
                <span class="tertiary">{{rscopes[scope]}}</span><br>
                {% endif %}
                {% endfor %}
            {% else %}
            <span class="secondary">No permissions requested</span>
            {% endif %}
            <form class="action" action="/app/{{appl.app.client_id}}/revoke" method="post"><input type="submit" id="submit" value="Revoke access" style="margin: 0;"></form>{# I dislike needing to use a form here, but atleast it dosent use javascript! #}
        </a>
    {% endfor %}
</div>
{% else %}
<p>You have not used any apps yet.</p>
{% endif %}
{% endblock %}