{% extends "templates/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Hello, {{user.name}}!</h1>
<a class="fakebutton" href="/account/namechange" style="margin: 0;">Change name</a>
<form action="/account/getlogincode" method="post" style="width: fit-content;"><input type="submit" id="submit" value="Add a new device" style="margin: 0;"></form>
{% if user.app_auths | length > 0 %}
<h2>Authorized apps</h2>
<div id="apps">
    {% for app in user.app_auths %}
        <a class="app" href="{{app.launch_url}}">
            <span class="main">{{app.name}}</span><br>
            <span class="secondary">Owned by {{app.owner.username}}</span>
            <form class="action" action="/app/{{app.client_id}}/revoke" method="post"><input type="submit" id="submit" value="Revoke access" style="margin: 0;"></form>{# I dislike needing to use a form here, but atleast it dosent use javascript! #}
        </a>
    {% endfor %}
</div>
{% else %}
<p>You have not used any apps yet.</p>
{% endif %}
{% endblock %}