{% extends "templates/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Your Apps</h1>
<a class="fakebutton" href="/apps/create">Create app</a>
{% if user.apps | length > 0 %}
<div id="apps">
    {% for app in user.apps %}
        <a class="app" href="/app/{{app.client_id}}">
            <span class="main">{{app.name}}</span><br>
            <span class="secondary">{{app.user_auths | length}} users</span>{# this might be slow, i havent done much testing #}
        </a>
    {% endfor %}
</div>
{% else %}
<p>You have not created any apps yet.</p>
{% endif %}
{% endblock %}