{% extends "templates/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Your Apps</h1>
<a class="fakebutton" href="/app/create" style="width: 150px;">Create app</a>
{% if user.apps | length > 0 %}
<div id="apps">
    {% for app in user.apps %}
        <a class="app" href="/apps/{{app.client_id}}">
            <span class="appname">{{app.name}}</span>
            <span class="appusers">{{app.user_auths | length}} users</span>{# this might be slow, but I havent tested it #}
        </a>
    {% endfor %}
</div>
{% else %}
<p>You have not created any apps yet.</p>
{% endif %}
{% endblock %}