@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header {
    background-color: hsl(147, 9%, 20%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 40px;
    text-shadow: 0px 0px 10px hsl(150, 4%, 10%);
    font-weight: bold;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 15px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(198, 244, 223);
}
body {
    font-family: 'Inter', 'Roboto', sans-serif;
    color: rgb(198, 244, 223);
    padding-top: 40px;
    background-color: hsl(120, 3%, 7%);
    margin: 0;
}
#apps {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
  gap:20px;
}
.app {
    background-color: hsl(147, 9%, 20%);
    transition: background-color 0.2s;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.app > .secondary {
    font-size: .7em;
}
a.app:hover {
    background-color: hsl(150, 11%, 36%);
}
main {
    display:flex;
    padding: 16px;
    flex-direction: column;
}
main.hcenter, main.form {
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input {
    text-align: center;
}
form > label {
    margin: 0.5rem
}
main.form > h1 {
    padding-top: 20px;
    padding-bottom: 5px;
}
form {
    padding-top: 10px;
	display: flex;
	flex-direction: column;
    align-items: center;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid hsl(120, 8%, 31%);
    border-radius: 5px;
    background-color: hsl(120, 7%, 21%);
    color: rgb(198, 244, 223);
}
input[type="submit"],
a.fakebutton {
    margin: .5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .85em;
    padding: 7px;
    border-radius: 5px;
    background-color: hsl(120, 8%, 23%);
    color: rgb(198, 244, 223);
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid hsl(120, 8%, 31%);
    min-width: 100px;
    text-decoration: none;
    width: fit-content;
}
input[type="submit"]:hover, a.fakebutton:hover {
  background-color: hsl(120, 13%, 33%);
}
input[type="submit"].main, a.fakebutton.main {
  background-color: hsl(151, 49%, 90%);
  border: 2px solid hsl(120, 49%, 82%);
  color: hsl(120, 7%, 11%);
}
input[type="submit"].main:hover, a.fakebutton.main:hover{
  background-color: hsl(151, 29%, 55%);
}
input[type="submit"].danger, a.fakebutton.danger {
  background-color: hsl(5, 60%, 55%);
  border: 2px solid hsl(5, 87%, 72%);
  color: rgb(198, 244, 223);
}
input[type="submit"].danger:hover, a.fakebutton.danger:hover{
  background-color: hsl(5, 80%, 82%);
}
#loadOverlay {display: none;}