{% extends "templates/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Hello, {{user.name}}!</h1>
{% if user.app_links | length > 0 %}
<h2>Apps</h2>
<div id="apps">
    {% for appl in user.app_links %}
        <a class="app" href="{{appl.app.launch_url}}">
            <span class="main">{{appl.app.name}}</span><br>
            <span class="secondary">Owned by {{appl.app.owner.username}}</span>
        </a>
    {% endfor %}
</div>
{% else %}
<p>You have not used any apps yet.</p>
{% endif %}
{% endblock %}