{% extends "templates/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>{{ gconfig.NAME }}</h1>
<p>{{ gconfig.NAME }} is a service allows you to authenticate with other services securely using your email.</p>
<h2>Developers</h2>
<p>You may integrate your app using standard OpenID Connect. More implementation documentation is available <a href="/help/oidc" style="text-decoration: underline;">here</a>, but most web frameworks have a ready to-go OIDC library that you may use.</p>
{% endblock %}
