{% extends "templates/base.html" %}
{% block title %}Login{% endblock %}
{% block mainclasses %}form{% endblock %}
{% block content %}
<h1>Welcome!</h1>
<form method="post" style="width: 300px;" class="longrunning">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="example@example.com" name="email" required>
    {% if gconfig.VEMAIL_MESSAGE %}
    <br><span style="font-size: .8em;">{{gconfig.VEMAIL_MESSAGE}}</span>
    {% endif %}
    <input type="submit" id="submit" value="Continue" class="main">
</form><br>
<span style="font-size: .8em;">{{status}}</span>
<div class="divider"></div>
<a class="fakebutton" href="/codelogin">Login via another device</a>
{% endblock %}