{% extends "templates/base.html" %}
{% block title %}Modify app{% endblock %}
{% block mainclasses %}form{% endblock %}
{% block content %}
<h1>{{app.name}}</h1>
<details>
  <summary>Details</summary>
    <p>You may authenticate users with OpenID Connect.</p>
    <p>Your client ID is {{app.client_id}}</p>
    <p>The issuer URL is https://{{host}}</p>
    <p>The auth endpoint is https://{{host}}/apps/auth</p>
    <p>The token endpoint is https://{{host}}/apps/token</p>
    <p>The userinfo endpoint is https://{{host}}/apps/userinfo</p>
    <p>The JWKS endpoint is https://{{host}}/apps/jwks</p>
    <p>Your app may only need some of the above information.</p>
    <a href="/help/oidc">OIDC help</a>
</details>
<form method="post">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="My app" value="{{app.name}}" maxlength="80" name="name" required>
    <label for="redir"><b>Redirect URL</b></label>
    <input type="text" placeholder="https://example.com/oidc/redirect" maxlength="200" value="{{app.redirect_url}}" name="redir" style="width: 500px;" required>
    <label for="launch"><b>Launch URL</b></label>
    <input type="text" placeholder="https://example.com/login" maxlength="200" value="{{app.launch_url}}" name="launch" style="width: 500px;" required>
    <input type="submit" id="submit" value="Save" class="main">
</form>
<form action="/app/{{app.client_id}}/rerollsecret" method="post" style="padding-top: 0;">
    <input type="submit" id="submit" value="Reset client secret">
</form>
<a class="fakebutton danger" href="/app/{{app.client_id}}/delete">Delete</a>
{% endblock %}